[user]
  name = drmcoelho
  email = drmatheuscoelho@gmail.com

[init]
  defaultBranch = main

[pull]
  rebase = false

[color]
  ui = auto

[core]
  excludesfile = ~/.gitignore_global

[push]
  default = current
